<!DOCTYPE html>
<html>
<head>
    <!-- SCRIPT DEPENDENCIES -->
    <script src="https://cdn.jsdelivr.net/npm/@joint/core@4.0.1/dist/joint.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <title>ProFlex Editor</title>
</head>
    <body>
        <noscript>
            <h1>This app requires JavaScript to function</h1>
        </noscript>
        {% block content %}
        {% endblock %}
        <hr>
    </body>
</head>
</html>
